<h2>Search</h2>
<fieldset>
	<p>All search fields are optional. Select only what is important to you.</p>
	<div class="form-group">
		<label>Search by Medium</label>
			<select class="form-control">
				<option>Select a Medium</option>	
				<option>Oil Paintings</option> 
				<option>Acrylic Paintings</option>
				<option>Watercolours</option> 
				<option>Pastels</option> 
				<option>Drawings</option> 
				<option>Graphite</option>
				<option>Mixed Media</option> 
				<option>Photographic</option> 
				<option>Other</option>
			</select>
	</div>	
	<div class="form-group">
		<label>Search by Genre</label>
			<select class="form-control">
				<option>Select a Genre</option>
				<option>Abstract</option> 
				<option>Contemporary</option>
				<option>Figurative</option> 
				<option>Pop Art</option> 
				<option>Portraiture</option> 
				<option>Realism</option>
				<option>Street Art</option> 
				<option>Surrealist</option>
				<option>Fantasy</option>
				<option>Other</option>
			</select>
	</div>
	<div class="form-group">
		<label>Search by Subject Matter</label>
			<select class="form-control">
				<option>Select a Subject Matter</option>
				<option>Landscape</option>
				<option>Architecture</option> 
				<option>Botanical</option>
				<option>Figurative</option>
				<option>Still Life</option>
				<option>Graphic</option> 
				<option>Animals/wildlife</option>
				<option>Other</option>				
			</select>
	</div>
	<div class="form-group">
		<label>Search by Size</label>
			<select class="form-control">
				<option>Select a Height (inches)</option>
				<option>10'</option>
				<option>11'</option> 
				<option>12'</option>
				<option>13'</option>
				<option>14'</option>
				<option>15'</option> 
				<option>16'</option>
				<option>17'</option>	
				<option>18'</option>
				<option>19'</option>
				<option>20'</option>
				<option>21'</option>
				<option>22'</option>
				<option>23'</option>
				<option>24'</option>
				<option>25'</option>
				<option>26'</option>
				<option>27'</option>
				<option>28'</option>
				<option>29'</option>
				<option>30'</option>
				<option>31'</option>
				<option>32'</option>
				<option>33'</option>
				<option>34'</option>
				<option>35'</option>
				<option>36'</option>
				<option>37'</option>
				<option>38'</option>
				<option>39'</option>
				<option>40'</option>
				<option>41'</option>
				<option>42'</option>
				<option>43'</option>
				<option>44'</option>
				<option>45'</option>
				<option>46'</option>
				<option>47'</option>
				<option>48'</option>
				<option>49'</option>
				<option>50'</option>		
			</select>
			<select class="form-control">
				<option>Select a Width (inches)</option>
				<option>10'</option>
				<option>11'</option> 
				<option>12'</option>
				<option>13'</option>
				<option>14'</option>
				<option>15'</option> 
				<option>16'</option>
				<option>17'</option>	
				<option>18'</option>
				<option>19'</option>
				<option>20'</option>
				<option>21'</option>
				<option>22'</option>
				<option>23'</option>
				<option>24'</option>
				<option>25'</option>
				<option>26'</option>
				<option>27'</option>
				<option>28'</option>
				<option>29'</option>
				<option>30'</option>
				<option>31'</option>
				<option>32'</option>
				<option>33'</option>
				<option>34'</option>
				<option>35'</option>
				<option>36'</option>
				<option>37'</option>
				<option>38'</option>
				<option>39'</option>
				<option>40'</option>
				<option>41'</option>
				<option>42'</option>
				<option>43'</option>
				<option>44'</option>
				<option>45'</option>
				<option>46'</option>
				<option>47'</option>
				<option>48'</option>
				<option>49'</option>
				<option>50'</option>				
			</select>
	</div>
	<div class="form-group">
		<label>Search by Price</label>
			<input type="text" class="form-control" placeholder="ex. $500">
	</div>
		<%= link_to "All Art", price_search_results_path, class: "btn btn-primary" %>
		<%= link_to "Search", price_search_results_path, class: "btn btn-danger" %>
</fieldset>

<fieldset>
	<div class="form-group">
		<label>Search for Artist</label>
			<input type="text" class="form-control" placeholder="ex. Joe Smith">
	</div>
		<%= link_to "All Artists", artist_search_results_path, class: "btn btn-primary" %>
		<%= link_to "Search", artist_search_results_path, class: "btn btn-danger" %>
</fieldset>

<fieldset>
	<div class="form-group">
		<label for="first-name">Search for Gallery</label>
			<input type="text" class="form-control" id="first-name" placeholder="ex. Westside Gallery">
	</div>
		<%= link_to "All Galleries", gallery_search_results_path, class: "btn btn-primary" %>
		<%= link_to "Search", gallery_search_results_path, class: "btn btn-danger" %>
</fieldset>
